.FullScheduleAnalysis {
    color: skyblue;
    text-align: center;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    .TableRec {
    	position: absolute;
    	top: 125%;
    	right: -120%;
    	text-align: center;
    }
    .NoCourse {
        position: absolute;
        top: 125%;
        right: -120%;
        text-align: center;
    }
}
