.Personalized{
	h1{
		 text-align: center;
		 color: skyblue;
	}
	.delete{
		text-align: center;
		margin:20px;
	}
	.userColumn{
        // margin:0px;
        padding:0px !important;
    }
    .row{
        margin:20px;
        font-weight: 530;
        font-size: 1.1em;
    }
    .content{
    	padding:20px;
    }
}